<div class="jumbotron">
    <h1 class="inset">maXTouch Studio Online Portal</h1>
    <p class="inset">
        This portal will show the licensed users count and their feedback for maXTouch Studio. !!!
    </p>

    <!-- <button class="btn btn-success" ui-sref="statistics" type="submit">View maXTouch Studio Statistics</button>
    <button class="btn btn-success" ui-sref="feedback" type="submit">View maXTouch Studio Feedback</button>-->

</div>

<br/>

<!--<div class="center-block">
    <form ng-submit="submit()" name="login" class="form-signin" novalidate>
        <h1 class="form-signin-heading text-muted">Login</h1>
        <input name="username" ng-model="username" type="text" class="form-control" placeholder="User Name" required autofocus="">
        
        <input name="password" ng-model="password" type="password" class="form-control" placeholder="Password" required>
        <br/>
        <button class="btn btn-lg btn-default btn-block" type="submit">
            Login
        </button>
    </form>
</div>-->
