<div class="header">
    <div class="navbar navbar-default">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li ui-sref-active="active"><a ui-sref="statistics"><i class="icon-bar-chart"></i><span class="hidden-tablet">Dashboard</span></a></li>
                </ul>
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li ui-sref-active="active"><a ui-sref="sharefile"><i class="icon-bar-chart"></i><span class="hidden-tablet">Dashboard - Share File</span></a></li>
                </ul>
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li ui-sref-active="active"><a ui-sref="feedback"><i class="icon-bar-chart"></i><span class="hidden-tablet">View Feedback</span></a></li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

    </div>
    <!--/#content.span10-->
</div>
<!--/fluid-row-->
